    <ul id="slides" class="close-outside">
      <% @contents.shuffle.each_with_index do |content, i| %>
      <li class="slide" data-id="<%= content.id %>" data-content-title="<%= content.title %>">
        <div class="image-carousel"><img src="<%= content.poster %>" alt=""></div>
        <button class="modal-btn"><i class='fas fa-info-circle fa-3x'></i></button>
          <div class="movie-modal <%= content.id %>">
            <div class="movie-modal-header">
              <div class="movie-rating" style=""><%= image_tag 'tmdb-icon.svg', class: "modal-tmdb-img" %><strong> <%= content.rating.round(1) %></strong></div>
              <button class="close-button">&times;</button>
            </div>
            <div class="movie-modal-body"><p><%= content.description %></p></div>
          </div>
          <div class="overlay <%= content.id %>"></div>
      </li>
      <% end %>
    </ul>


  <div id="users-ids" data-current-user-id="<%= current_user.id %>" data-friendship-user-id="<%=@friendship_id %>" data-contact-id="<%= @contact_id %>">
