    <ul id="slides" class="close-outside">
      <% @contents.shuffle.each_with_index do |content, i| %>
      <li class="slide" data-id="<%= content.id %>" data-content-title="<%= content.title %>">
        <div class="image-carousel" style="background-image: url('<%= content.poster %>')">
        </div>
          <div class="data-container">
            <div class="movie-rating" style="">Average rating: <strong><%= content.rating %></strong>
            </div>
            <div class="movie-modal-body"><p><%= content.description %></p>
            </div>
            </div>


      </li>
      <% end %>
    </ul>

  <div id="users-ids" data-current-user-id="<%= current_user.id %>" data-friendship-user-id="<%=@friendship_id %>" data-contact-id="<%= @contact_id %>">
