    <ul id="slides">
      <% @contents.each_with_index do |content, i| %>
      <li class="slide <%= 'active' if i == 0 %>" data-id="<%= content.id %>">
        <div class="image-carousel" style="background-image: url('<%= content.poster %>')">
        </div>
        <button class="modal-btn">Open Modal</button>
          <div class="movie-modal <%= content.id %>">
            <div class="movie-modal-header">
              <div class="movie-rating" style="">Average rating: <strong><%= content.rating %></strong></div>
              <button class="close-button">&times;</button>
            </div>
            <div class="movie-modal-body"><p><%= content.description %></p></div>
          </div>

          <div class="overlay <%= content.id %>"></div>
      </li>
      <% end %>
    </ul>


  <div id="slide-controls">
    <span id="decline"><i class="fa fa-solid fa-thumbs-down fa-2x"></i></span>
    <span id="approve"><i class="fa fa-solid fa-thumbs-up fa-2x"></i></span>
  </div>
