
<div class="wrapper">

<div class="user-header">
   <h1><%= current_user.first_name %></h1>
   <hr>
</div>
	<div class="profile">
    <div class="thumbnail">
      <% if current_user.photo.key.present? %>
      <%= cl_image_tag current_user.photo.key, :transformation=>[{:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb"},{:radius=>"max"}], class: "thumbnail" %>
      <% else %>
      <%= image_tag 'Avatar.jpg', class: "thumbnail" %>
      <% end %>
    </div>
		<div class="check"><i class="fas fa-check"></i></div>
		<h3 class="name"><%= "#{current_user.first_name} #{current_user.last_name} " %></h3>
		<p class="title">Certified Flickswiper</p>
		<p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam aliquid porro!</p>

    <div class="button-box1">
        <%= link_to "View Friends", user_path(id: current_user), class: "btn"%>
    </div>
        <div class="dropdown">
      <div class="button-box">
        <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Add Friends
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <% @users.each do |user| %>
          <% if @friendships.select { |friendship| friendship.contact == user}.length > 0 %>
            <%= link_to "#{user.first_name} Added!", user_friendships_path(user_id: @user.id, initiator_id: @user.id, contact_id: user.id) , class: "dropdown-item", method: :post %>
            <% else %>
            <%= link_to "#{user.first_name} - add Friend", user_friendships_path(user_id: @user.id, initiator_id: @user.id, contact_id: user.id) , class: "dropdown-item", method: :post %>
            <% end %>
          <% end %>
        </div>
    </div>
	</div>

	<div class="social-icons">
		<div class="icon">
			<a href="/"><i class="fab fa-dribbble"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>

		<div class="icon">
			<a href="#"><i class="fab fa-behance"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>

		<div class="icon">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<h4>12.8k</h4>
			<p>Followers</p>
		</div>
	</div>
</div>


<%#
<div class="background d-flex justify-content-center">
  <div class="dropdown">
    <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     Add Friends
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% @users.each do |user| %>
       <%# <% if @friendships.select { |friendship| friendship.contact == user}.length > 0 %>
        <%# <%= link_to "#{user.first_name} Added!", user_friendships_path(user_id: @user.id, initiator_id: @user.id, contact_id: user.id) , class: "dropdown-item", method: :post %>
         <%# <% else %>
         <%# <%= link_to "#{user.first_name} - add Friend", user_friendships_path(user_id: @user.id, initiator_id: @user.id, contact_id: user.id) , class: "dropdown-item", method: :post %>
        <%# <% end %>
      <%# <% end %>
    <%# </div> %>
    <%# <%= link_to "View Friends", user_path(id: current_user), class: "btn btn-lg btn-secondary"%>
  <%# </div> %>
<%# </div>  %>
