<div class="user-dashboard">
  <% if current_user.photo.key.present? %>
    <%= cl_image_tag current_user.photo.key, :transformation=>[{:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb"},{:radius=>"max"}], class: "avatar-large" %>
  <% else %>
    <%= image_tag 'Avatar.jpg', class: "avatar-large" %>
  <% end %>

  <%= current_user.first_name.capitalize %>'s Dashboard
  <hr>
</div>

<h2 class="current-friends"><%= current_user.first_name.capitalize %>'s Friends</h2>
<div class="friendship">
  <% @friendships_data.each do |data| %>
    <%= link_to user_friendship_contents_path(data[:current_user_friend], data[:friendship_id] ) do %>
      <%= cl_image_tag data[:user_photo_key], :transformation=>[{:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb"},{:radius=>"max"}], class: "avatar-friend" %>
      <%# <div class="users"> %>
        <%# data[:user_first_name] %>
      <%# </div> %>
    <% end %>
  <% end %>
</div>
