<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class:"avatar-large"%>
<%= @user.first_name %>'s Dashboard</h1>


<h2>Friendships</h2>
<ol>
</ol>
<div class="friendships" data-controller="friendship">
<% @friendships.each do |friendship| %>
  <button data-friendship-target="btn" data-action="click->friendship#friendClicked" data-friendship-index="<%= friendship.id %>"><%= image_tag "Avatar.jpg", class:"avatar-large"%></button>
  <%= link_to "link", user_friendship_contents_path(@user, friendship.id) %>
<% end %>
</div>
