<h2 class="home-title">Log in</h2>

<div class="container">
  <p class="slogan">never argue about what to watch again...</p>
    <div class="home-image">
      <%= image_tag("flickswipe_logo.png")%>
    </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <div class="d-flex align-items-center">
      <p class="login-email">Email</p>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email" } %>
      </div>
      <div class="d-flex align-items-center">
      <p class="login-password">Password</p>
        <%= f.input :password,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-block' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
